<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
    
    <div ng-controller="EventController as ec">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    ng-click="vm.clear()">&times;</button>
            <h4 class="modal-title" id="myEventLabel" data-translate="conference3App.visit.home.createLabel">Create a new Visit</h4>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group" ng-model="firstSample" ng-init="firstSample = []">
                <label data-translate="conference3App.event.presentation" for="field_presentation">Presentation</label>
                <select class="form-control" id="field_presentation" name="presentation" ng-model="selectPresentation"
                        ng-options="presentation for presentation in uniqueValues(ec.events, 'presentation')"
                        ng-change="firstSample = joinable(ec.events, 'presentation', selectPresentation); selectRoom = ''; selectStart = '';
                        secondSample= []; vm.visit.event = null; vm.visit.user = getUserJson()"
                        required>
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group" ng-model="secondSample" ng-init="secondSample = []">
                <label data-translate="conference3App.event.room" for="field_room">Room</label>
                <select class="form-control" id="field_room" name="room" ng-model="selectRoom"
                        ng-options="room for room in uniqueValues(firstSample, 'room')"
                        ng-change="secondSample = joinable(firstSample, 'room', selectRoom); selectStart = ''; vm.visit.event = null" required>
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group" id="field_event" name="event" ng-model="vm.visit.event" ng-init="vm.visit.event = null">
                <label data-translate="conference3App.event.start" for="field_event">Start</label>
                <select class="form-control" id="field_start" name="start" ng-model="selectStart"
                        ng-options="start for start in uniqueValues(secondSample, 'time')"
                        ng-change="vm.visit.event = joinable(secondSample, 'time', selectStart)[0]" required>
                    <option value=""></option>
                </select>
            </div>
            <div ng-if="vm.visit.event != null">
                <label class="control-label" data-translate="conference3App.event.end">End</label>
                <label>{{vm.visit.event.end}}</label>
            </div>
            <div class="form-group" ng-if="vm.visit.user.authorities.length > 1">
                <label class="control-label" data-translate="conference3App.visit.presenterStatus" for="field_presenterStatus">Presenter Status</label>
                <input ng-init="vm.visit.presenterStatus = false" type="checkbox" name="presenterStatus" id="field_presenterStatus"
                       ng-model="vm.visit.presenterStatus"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div id="field_user" name="user" ng-model="vm.visit.user">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
            </button>
        </div>
    </div>
</form>
