<div>
    <div class="btn-group" data-toggle="buttons">
        <button type="button" class="btn btn-primary" ng-click="hEv = !hEv">My Events</button>
        <button type="button" class="btn btn-primary" ng-click="sPr = !sPr">Presentations</button>
    </div>

    <div ng-hide="hEv" ui-view="forEvent">
        <div ng-include="'app/entities/event/events.html'"></div>
    </div>

    <div ng-show="sPr" ui-view="forPresentation">
        <div ng-include="'app/entities/presentation/presentations.html'"></div>
    </div>

</div>

