<div>
    <div>
        <h4><span data-translate="conference3App.room.home.subtitle">My Room</span>: <input type="text" ng-model="roomFilter.number"> </h4>
        <div ng-repeat="room in rm.rooms | filter: roomFilter">
            <div ui-view="viewEvent">
                <h2><span data-translate="conference3App.room.detail.title">Room</span> №{{room.number}}</h2>
                <br/>
                <div class="table-responsive">
                    <table class="jh-table table table-striped">
                        <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                            <th jh-sort-by="presentation.title"><span data-translate="conference3App.event.presentation">Presentation</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="start"><span data-translate="conference3App.event.start">Start</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="end"><span data-translate="conference3App.event.end">End</span> <span class="glyphicon glyphicon-sort"></span></th>
                        </tr>
                        </thead>
                        <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                        <tr ng-repeat="event in vm.events | filter: room.number">
                            <td>
                                <div ui-sref="presentation-view({id:event.presentation.id})">{{event.presentation.title}}</div>
                            </td>
                            <td>{{event.start | date:'medium'}}</td>
                            <td>{{event.end | date:'medium'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
